<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Movies Database Web Application</display-name>
	<welcome-file-list>
		<!-- <welcome-file>MoviesList.jsp</welcome-file>-->
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/moviesdb</param-value>
	</context-param>

	<context-param>
		<param-name>username</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>

	<servlet>
		<servlet-name>MyMoviesDBServlet</servlet-name>
		<servlet-class>com.mymoviesdb.servlet.MyMoviesDBServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyMoviesDBServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
</web-app>